- name: Copy Fuse installer
  copy:
    src: "{{ jboss_fuse_jar_file }}"
    dest: "{{ jboss_fuse_install_dir }}"
  when: jboss_fuse_jar_file_url is not defined
  tags:
    - jboss_fuse

- name: Download Fuse installer
  get_url:
    url: "{{ jboss_fuse_jar_file_url }}"
    dest: "{{ jboss_fuse_install_dir }}"
  when: jboss_fuse_jar_file_url is defined
  tags:
    - jboss_fuse

- name: Install Fuse
  command: "java -jar {{ jboss_fuse_install_dir }}/{{ jboss_fuse_jar_file }}"
  become: yes
  become_user: "{{ jboss_eap_user }}"
  args:
    creates: "{{ jboss_eap_jboss_home }}/fusepatch"
    chdir: "{{ jboss_eap_jboss_home }}"
  tags:
   - jboss_fuse
